<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>note</title>

<link rel="stylesheet" href="../../style.css" type="text/css" />
<link rel="stylesheet" href="../../local.css" type="text/css" />

<link rel="alternate" type="application/x-wiki" title="Edit this page" href="http://localhost:8080/ikiwiki/ikiwiki.cgi?page=templates%2Fnote&amp;do=edit" />



</head>
<body>

<div class="pageheader">
<div class="header">
<span>
<span class="parentlinks">

<a href="./../../">Linux & Audio</a>/ 

<a href="./../">templates</a>/ 

</span>
<span class="title">
note
</span>
</span><!--.header-->

</div>


<div class="actions">
<ul>

<li><a href="http://localhost:8080/ikiwiki/ikiwiki.cgi?page=templates%2Fnote&amp;do=edit" rel="nofollow">Edit</a></li>




<li><a href="http://localhost:8080/ikiwiki/ikiwiki.cgi?do=prefs">Preferences</a></li>


<li><span class="createlink"><a href="http://localhost:8080/ikiwiki/ikiwiki.cgi?page=discussion&amp;from=templates%2Fnote&amp;do=create" rel="nofollow">?</a>Discussion</span><br /></li>

</ul>
</div>

</div> <!-- .pageheader -->



<div id="content">
<div class="notebox">

</div>

<p>
Use this template to insert a note into a page. The note will be styled to
float to the right of other text on the page. This template has one
parameter:</p>

<ul>
<li>`text` - the text to display in the note
</ul>

<p></p>

</div>

<div id="footer" class="pagefooter">
<div id="pageinfo">




<div id="backlinks">
Links:

<a href="./../">templates</a>


</div><!-- #backlinks -->






<div class="pagedate">
Last edited Mon 04 Aug 2008 06:43:27 PM CEST
<!-- Created Mon 04 Aug 2008 06:43:27 PM CEST -->
</div>

</div><!-- #pageinfo -->

<!-- from Linux & Audio -->
</div><!-- .pagefooter #footer -->

</body>
</html>
