<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>templates</title>

<link rel="stylesheet" href="../style.css" type="text/css" />
<link rel="stylesheet" href="../local.css" type="text/css" />

<link rel="alternate" type="application/x-wiki" title="Edit this page" href="http://localhost:8080/ikiwiki/ikiwiki.cgi?page=templates&amp;do=edit" />



</head>
<body>

<div class="pageheader">
<div class="header">
<span>
<span class="parentlinks">

<a href="./../">Linux & Audio</a>/ 

</span>
<span class="title">
templates
</span>
</span><!--.header-->

</div>


<div class="actions">
<ul>

<li><a href="http://localhost:8080/ikiwiki/ikiwiki.cgi?page=templates&amp;do=edit" rel="nofollow">Edit</a></li>




<li><a href="http://localhost:8080/ikiwiki/ikiwiki.cgi?do=prefs">Preferences</a></li>


<li><span class="createlink"><a href="http://localhost:8080/ikiwiki/ikiwiki.cgi?page=discussion&amp;from=templates&amp;do=create" rel="nofollow">?</a>Discussion</span><br /></li>

</ul>
</div>

</div> <!-- .pageheader -->



<div id="content">
<p>[[!meta robots="noindex, follow"]]
This wiki has templates <strong>disabled</strong>.</p>

<p>Templates are files that can be filled out and inserted into pages in the
wiki.</p>

<h2>Using a template</h2>

<p>Using a template works like this:</p>

<pre><code>[[!template id=note text="""Here is the text to insert into my note."""]]
</code></pre>

<p>This fills out the <a href="./note/">note</a> template, filling in the <code>text</code> field with
the specified value, and inserts the result into the page.</p>

<p>Generally, a value can include any markup that would be allowed in the wiki
page outside the template. Triple-quoting the value even allows quotes to
be included in it. Combined with multi-line quoted values, this allows for
large chunks of marked up text to be embedded into a template:</p>

<pre><code>    [[!template id=foo name="Sally" color="green" age=8 notes="""
    * [[Charley]]'s sister.
    * "I want to be an astronaut when I grow up."
    * Really 8 and a half.
    """]]
</code></pre>

<h2>Creating a template</h2>

<p>To create a template, simply add a template directive to a page, and the 
page will provide a link that can be used to create the template. The template
is a regular wiki page, located in the <code>templates/</code> subdirectory inside
the source directory of the wiki.</p>

<p>The template uses the syntax used by the [[!cpan HTML::Template]] perl
module, which allows for some fairly complex things to be done. Consult its
documentation for the full syntax, but all you really need to know are a
few things:</p>

<ul>
<li>Each parameter you pass to the template directive will generate a 
template variable. There are also some pre-defined variables like PAGE
and BASENAME.</li>
<li>To insert the value of a variable, use <code>&lt;TMPL_VAR variable&gt;</code>. Wiki markup
in the value will first be converted to html.</li>
<li>To insert the raw value of a variable, with wiki markup not yet converted
to html, use <code>&lt;TMPL_VAR raw_variable&gt;</code>.</li>
<li>To make a block of text conditional on a variable being set use
<code>&lt;TMPL_IF NAME="variable"&gt;text&lt;/TMPL_IF&gt;</code>.</li>
<li>To use one block of text if a variable is set and a second if it's not,
use <code>&lt;TMPL_IF NAME="variable"&gt;text&lt;TMPL_ELSE&gt;other text&lt;/TMPL_IF&gt;</code></li>
</ul>

<p>Here's a sample template:</p>

<pre><code>    &lt;span class="infobox"&gt;
    Name: [[&lt;TMPL_VAR raw_name&gt;]]&lt;br /&gt;
    Age: &lt;TMPL_VAR age&gt;&lt;br /&gt;
    &lt;TMPL_IF NAME="color"&gt;
    Favorite color: &lt;TMPL_VAR color&gt;&lt;br /&gt;
    &lt;TMPL_ELSE&gt;
    No favorite color.&lt;br /&gt;
    &lt;/TMPL_IF&gt;
    &lt;TMPL_IF NAME="notes"&gt;
    &lt;hr /&gt;
    &lt;TMPL_VAR notes&gt;
    &lt;/TMPL_IF&gt;
    &lt;/span&gt;
</code></pre>

<p>The filled out template will be formatted the same as the rest of the page
that contains it, so you can include WikiLinks and all other forms of wiki
markup in the template. Note though that such WikiLinks will not show up as
backlinks to the page that uses the template.</p>

<p>Note the use of "raw_name" inside the <a href="./../wikilink/">WikiLink</a> generator. This ensures
that if the name contains something that might be mistaken for wiki markup,
it's not converted to html before being processed as a <a href="./../wikilink/">WikiLink</a>.</p>

</div>

<div id="footer" class="pagefooter">
<div id="pageinfo">




<div id="backlinks">
Links:

<a href="./../ikiwiki/formatting/">ikiwiki/formatting</a>


</div><!-- #backlinks -->






<div class="pagedate">
Last edited Mon 04 Aug 2008 06:43:26 PM CEST
<!-- Created Mon 04 Aug 2008 06:43:26 PM CEST -->
</div>

</div><!-- #pageinfo -->

<!-- from Linux & Audio -->
</div><!-- .pagefooter #footer -->

</body>
</html>
